.contribute-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contribute-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1500px;
    padding: 30px 0;
}

.contribute-content h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.contribute-content h2 {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 400;
}

.contribute-content hr {
    margin: 10px 0 5px;
    border: none;
    border-bottom: 1px solid var(--hover-2);
}

.contribute-content p {
    margin-top: 10px;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #c4c4c4;
}

.contribute-cards {
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

.contribute-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--hover-2);
    background: #080808;
}

.contribute-card h3 {
    font-size: 0.9rem;
    font-weight: 400;
}

.contribute-via-pix {
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--hover-2);
    background: #080808;
    gap: 50px;
}

.contribute-via-pix img {
    display: flex;
    width: 300px;
    filter: invert(1);
}

.contribute-pix-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contribute-pix-content code {
    display: flex;
    width: 370px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    background: #101010;
    font-size: 0.9rem;
    color: var(--gray-color-1);
}

.contribute-pix-content code::-webkit-scrollbar {
    display: none;
}

.contribute-pix-content p {
    font-size: 0.85rem;
    max-width: 500px;
    color: #adadad;
}

.contribute-pix-content p:first-child {
    color: var(--gray-color-1);
    font-weight: 500;
}

.contribute-pix-content span {
    display: flex;
    margin: 10px 0 -7px;
    font-size: 0.9rem;
    color: var(--gray-color-1);
}

.contribute-pix-content button {
    width: fit-content;
    align-items: center;
    justify-content: center;
    width: 130px;
    padding: 6px;
    background: transparent;
    border: 1px solid #212121;
    color: var(--light-color);
    cursor: pointer;
    transition: var(--transition);
}

.contribute-pix-content button:hover {
    background: var(--light-color);
    color: var(--black);
}

.contribute-footer {
    display: flex;
    justify-content: center;
}

.contribute-footer p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color-4);
}