.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.home-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1500px;
    min-height: 100dvh;
}

.hr {
    margin: 35px 0;
    display: flex;
    width: 850px;
    height: fit-content;
    border-bottom: 1px solid var(--hover-2);
}

.home-welcome {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-welcome h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.home-welcome p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray-color-2);
}


/* GitHub Stats */
.github-stats-main {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border: 1px solid var(--hover-2);
    background: #080808;
    cursor: default;
}

.github-stats-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--hover-2);
}

.github-stats-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.github-stats-header p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color-3);
}

.github-stats-content {
    margin-top: 20px;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: space-around;
}

.github-stats-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.github-stats-content div header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.github-stats-content div header p {
    font-size: 0.75rem;
    color: var(--gray-color-2);
}

.github-stats-content div section h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #57bf4f;
}

.github-stats-content div section h1 span {
    font-size: 1rem;
}

/* Top Languages */
.home-topLanguages {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border: 1px solid var(--hover-2);
    border-top: none;
    background: #080808;
    cursor: default;
}


/* News */
.home-news-main {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.home-news-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home-news-header div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.home-news-header h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.home-news-header p {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-color-2);
}

.home-news-header a {
    display: flex;
    align-items: center;
    height: fit-content;
    font-size: 0.8rem;
    color: #57bf4f;
    gap: 7px;
    transition: var(--transition);
}

.home-news-header a:hover {
    color: #3d8838;
}


.home-footer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-footer img {
    display: flex;
    width: 150px;
    opacity: 0.2;
}

.home-footer p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--gray-color-4);
}