.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.home-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1500px;
    min-height: 100dvh;
}

.hr {
    margin: 35px 0;
    display: flex;
    width: 850px;
    height: fit-content;
    border-bottom: 1px solid var(--hover-2);
}

.home-welcome {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-welcome h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.home-welcome p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray-color-2);
}


/* GitHub Stats */
.github-stats-main {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border: 1px solid var(--hover-2);
    background: #080808;
    cursor: default;
}

.github-stats-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--hover-2);
}

.github-stats-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.github-stats-header p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color-3);
}

.github-stats-content {
    margin-top: 20px;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: space-around;
}

.github-stats-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.github-stats-content div header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.github-stats-content div header p {
    font-size: 0.75rem;
    color: var(--gray-color-2);
}

.github-stats-content div section h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #57bf4f;
}

.github-stats-content div section h1 span {
    font-size: 1rem;
}

/* Top Languages */
.home-topLanguages {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border: 1px solid var(--hover-2);
    border-top: none;
    background: #080808;
    cursor: default;
}


/* home trending repos */
.home-trendingRepos {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 800px;
}

.home-trendingRepos-header {
    display: flex;
    width: 100%;
    align-items: top;
    justify-content: space-between;
}

.home-trendingRepos-header div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.home-trendingRepos-header div h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.home-trendingRepos-header div p {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-color-2);
}

.home-trendingRepos-header a {
    color: var(--gray-color-2);
    transition: var(--transition);
}

.home-trendingRepos-header a:hover {
    color: var(--gray-color-1);
}

.home-trendingRepos-grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: #080808;
    border: 1px solid var(--hover-2);
}

.home-trendingRepos-grid hr {
    display: flex;
    height: 1px;
    border: none;
    border-bottom: 1px solid var(--hover-2);
}

.home-trendingRepos-card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;
    cursor: default;
}

.home-trendingRepos-card .btn-right {
    display: flex;
    align-items: center;
    min-width: fit-content;
    height: fit-content;
    gap: 7px;
    padding: 5px 10px;
    border: 1px solid #272727;
    background: #171717;
    font-size: 0.8rem;
    color: var(--gray-color-2);
    transition: var(--transition);
}

.home-trendingRepos-card .btn-right:hover {
    background: var(--gray-color-1);
    color: #000;
}

.home-trendingRepos-card div header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-trendingRepos-card div header img {
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.home-trendingRepos-card div header a {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
    font-weight: 500;
    color: #4493f8;
    cursor: pointer;
}

.home-trendingRepos-card div header a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.home-trendingRepos-card div p {
    margin-top: 10px;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.05px;
    color: #c3c3c3;
}

.home-trendingRepos-card footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-trendingRepos-card footer section {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--gray-color-2);
}

.home-trendingRepos-card footer section div {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}

.home-trendingRepos-card footer section span {
    font-size: 0.8rem;
}



/* News */
.home-news-main {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.home-news-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home-news-header div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.home-news-header h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.home-news-header p {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-color-2);
}

.home-news-header a {
    display: flex;
    align-items: center;
    height: fit-content;
    font-size: 0.8rem;
    color: #57bf4f;
    gap: 7px;
    transition: var(--transition);
}

.home-news-header a:hover {
    color: #3d8838;
}


.home-footer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-footer img {
    display: flex;
    width: 150px;
    opacity: 0.2;
}

.home-footer p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--gray-color-4);
}