.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.home-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1500px;
    min-height: 100dvh;
}

.hr {
    margin: 30px 0;
    display: flex;
    width: 850px;
    height: fit-content;
    border-bottom: 1px solid var(--hover-2);
}

.home-welcome {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-welcome h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.home-welcome p {
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray-color-1);
}


/* GitHub Stats */
.github-stats-main {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border: 1px solid var(--hover-2);
    background: #0b0b0b;
    cursor: default;
}

.github-stats-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--hover-2);
}

.github-stats-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.github-stats-header p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--gray-color-3);
}

.github-stats-content {
    margin-top: 20px;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: space-around;
}

.github-stats-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.github-stats-content div header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.github-stats-content div header p {
    font-size: 0.8rem;
    color: var(--gray-color-2);
}

.github-stats-content div section h1 {
    font-size: 1.5rem;
    font-weight: 500;    
}