.snapshot-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
}

.snapshot-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin-top: 100px;
}

.snapshot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.snapshot-header h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.snapshot-header p {
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray-color-1);
}

.snapshot-grid {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.snapshot-card {
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 480px;
    padding: 20px;
    border: 1px solid var(--hover-2);
    background: #040404;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.snapshot-card.one {
    background-image: url('../assets/img/bg-snapshot/1.png');
}

.snapshot-card.two {
    background-image: url('../assets/img/bg-login-mobile.png');
}

.snapshot-card.three {
    background-image: url('../assets/img/bg-snapshot/3.png');
}

.snapshot-card.right {
    margin-top: 220px;
}

.snapshot-card.left {
    margin-top: -220px;
}

.snapshot-card-content {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 30px;
    color: var(--gray-color-1);
}

.snapshot-card-header {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.snapshot-card-header img {
    display: flex;
    width: 25px;
}

.snapshot-card-header p {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--gray-color-3);
}

.snapshot-card-title h1 {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4;
}

.snapshot-card-title h1 span {
    color: #57bf4f;
}

.snapshot-card-grid-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.snapshot-card-grid-column article {
    display: flex;
    align-items: center;
    gap: 10px;
}

.snapshot-card-grid-column article div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.snapshot-card-grid-column article div p {
    font-size: 0.7rem;
    color: #bebebe;
}

.snapshot-card-grid-column article div h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #57bf4f;
}

.snapshot-card-grid-column article div h1 span {
    font-size: 0.7rem;
    color: var(--gray-color-3);
}

.snapshot-card-footer {
    display: flex;
    justify-content: space-between;
}

.snapshot-card-footer p {
    font-size: 0.6rem;
    font-weight: 300;
    color: var(--gray-color-4);
}



.quotes {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    color: var(--gray-color-3);
}

.quotes.right {
    display: flex;
    justify-content: end;
}

.quotes.right .mirror {
    transform: rotate(180deg);
}

.snapshot-card-grid-column .text {
    margin: -20px 0 -10px;
    font-size: 1.4rem;
    line-height: 1.3;
}

.snapshot-card-grid-column .text span {
    color: #57bf4f;
}