.welcome-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    background: #000;
    background-image: linear-gradient(0deg, #080808 45%, #00000000, #000), url('../assets/img/bg-snapshot/4.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.welcome-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    background: #080808;
    border-bottom: 1.5px solid var(--hover-2);
    z-index: 10;
}

.welcome-header-content {
    display: flex;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;
}

.welcome-header-content section {
    display: flex;
    align-items: center;
}

.welcome-header-content section a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.welcome-header-content section a:hover {
    background: #0e0e0e;
}

.welcome-header-content section img {
    margin: 0 30px;
    display: flex;
    height: 20px;
    opacity: 0.9;
}

.welcome-header-content section div {
    display: flex;
    width: 1.5px;
    height: 30px;
    background: var(--hover-2);
}

.welcome-header-content section nav {
    margin-left: 10px;
    display: flex;
}

.welcome-header-content nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px 20px;
    font-size: 0.9rem;
    color: #c3c3c3;
    transition: var(--transition);
    gap: 10px;
}

.welcome-header-content div {
    display: flex;
}

.welcome-header-content div a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 0.9rem;
    padding: 0px 20px;
    color: #c3c3c3;
    transition: var(--transition);
}

.welcome-header-content div a:hover {
    background: #0e0e0e;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

.welcome-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100dvh;
    max-height: 800px;
}

.welcome-presentation-left {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.welcome-presentation-left h1 {
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 1.3;
}

.welcome-presentation-left p {
    width: 600px;
    margin-top: 10px;
    font-size: 0.95rem;
    font-weight: 200;
    line-height: 1.6;
}

.welcome-presentation-left section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcome-presentation-left section a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 0.9rem;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    transition: var(--transition);
}

.welcome-presentation-left section a:hover {
    background: var(--gray-color-1);
    color: #000;
}

.welcome-presentation-left section a.active {
    background: var(--light-color);
    border-color: transparent;
    color: #000;
}

.welcome-presentation-left section a.active:hover {
    background: var(--gray-color-1);
}

.welcome-presentation-left section:has(a:not(.active):hover) a.active {
    background: transparent;
    border-color: var(--light-color);
    color: #fff;
}

.welcome-presentation-right {
    display: flex;
    width: 40%;
    justify-content: center;
}

.welcome-presentation-right img {
    display: flex;
    width: 250px;
    filter: invert(1);
}



/* welcome contributionPanel */
.welcome-contributionPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px 0 70px;
    background: #080808;
}

.welcome-contributionPanel h3 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 300;
}


/* welcome features */
.welcome-features {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background: #080808;
}

.welcome-features div {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 40px;
}

.welcome-features h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.welcome-features p {
    width: 50%;
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.4;
    color: #c3c3c3;
}

.welcome-features p span {
    color: #57bf4f;
}

.welcome-features-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 40px;
    max-width: 1300px;
}

.welcome-features-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 220px;
    border: 1px solid #858585;
    padding: 20px;
    transition: var(--transition);
}

.welcome-features-card:hover {
    background: var(--light-color);
    border-color: var(--light-color);
}

.welcome-features-card:hover h1 {
    opacity: 0;
}

.welcome-features-card:hover h2 {
    opacity: 1;
}

.welcome-features-card:hover footer .icon {
    color: #525252;
}

.welcome-features-card h1 {
    font-size: 1.2rem;
    color: var(--gray-color-1);
    transition: all 0.15s ease-in;
}

.welcome-features-card h2 {
    opacity: 0;
    position: absolute;
    width: 360px;
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.4;
    color: #000;
    transition: all 0.35s ease-in;
}

.welcome-features-card footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: var(--gray-color-1);
}

.welcome-features-card footer .icon {
    transition: all 0.35s ease;
}


/* welcome recruiters */
.welcome-recruiters {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.welcome-recruiters div {
    display: flex;
    max-width: 1300px;
    padding: 0 40px;
}

.welcome-recruiters h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.welcome-recruiters p {
    width: 50%;
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.4;
    color: #c3c3c3;
}

.welcome-recruiters p span {
    color: #57bf4f;
}

.welcome-recruiters-grid {
    padding: 30px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.welcome-recruiters-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 15px;
    border: 1px solid #202020;
    transition: var(--transition);
    cursor: default;
}

.welcome-recruiters-card:hover {
    border-color: var(--gray-color-1);
}

.welcome-recruiters-card h1 {
    font-size: 1.3rem;
}

.welcome-recruiters-card p {
    width: 100%;
    font-size: 0.85rem;
}


/* welcome interface */
.welcome-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 50px 40px;
}

.welcome-interface header {
    display: flex;
    justify-content: space-between;
}

.welcome-interface h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.welcome-interface p {
    width: 50%;
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.4;
    color: #c3c3c3;
}

.welcome-interface p span {
    color: #57bf4f;
}

.welcome-interface img {
    margin-top: 20px;
    display: flex;
    width: 800px;
}



/* welcome cta */
.welcome-cta {
    display: flex;
    justify-content: center;
    padding: 100px 0 150px;
}

.welcome-cta-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 200px;
    padding: 20px;
    border: 1px solid var(--gray-color-2);
}

.welcome-cta-wrapper h1 {
    font-size: 2rem;
    font-weight: 400;
}

.welcome-cta-wrapper p {
    margin-top: 3px;
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--gray-color-2);
}

.welcome-cta-wrapper div {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
}

.welcome-cta-wrapper div section {
    display: flex;
    gap: 15px;
}

.welcome-cta-wrapper div a {
    display: flex;
    padding: 7px 14px;
    border: 1px solid var(--gray-color-1);
    font-size: 0.85rem;
    color: var(--gray-color-1);
    transition: var(--transition);
}

.welcome-cta-wrapper div a.active {
    background: var(--gray-color-1);
    color: #000;
}

.welcome-cta-wrapper div a.active:hover {
    background: #c3c3c3;
}


/* welcome footer */
.welcome-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: #080808;
}

.welcome-footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 40px;
    max-width: 1300px;
}

.welcome-footer-left img {
    display: flex;
    width: 160px;
}

.welcome-footer-left p {
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    white-space: nowrap;
    color: var(--gray-color-3);
}

.welcome-footer-right {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.welcome-footer-right div {
    display: flex;
    gap: 250px;
}

.welcome-footer-right div nav h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.welcome-footer-right nav ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90px;
    gap: 10px;
}

.welcome-footer-right nav ul a {
    font-size: 0.9rem;
    font-weight: 300;
    white-space: nowrap;
    color: var(--gray-color-2);
    transition: var(--transition);
}

.welcome-footer-right nav ul a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--gray-color-1);
}

.welcome-footer-right hr {
    margin: 40px 0 20px;
    display: flex;
    width: 100%;
    height: 1px;
    border: none;
    border-bottom: 1px solid #242424;
}